@model IEnumerable<_2021_06_08_NaechsterVersuch.Models.Document>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core or go to hell and die mofo</a>.</p>
</div>

<div>
    <button type="button">
        klick me
    </button>
    <br />
    <button type="submit">
        submitButton
    </button>
    <br />
    <button type="reset">
        ResetButton
    </button>
    <br />


</div>

<body>
    <div>
        <p>
            <a asp-action="Create">Create New or go to hell and die</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <!--
                    <th>
                        <p>test</p>
                    </th>
                    <th>
                        <p>foo</p>
                    </th>
                    <th>
                        <p>bar</p>
                    </th>
                        -->
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublishingDate)
                    </th>

                </tr>
            </thead>



        </table>
    </div>

    <div>
        <br />
        <br />
        <br />
        <p>hier ist die viewdata</p>
        <p>@ViewData.Model</p>
        <p>@ViewData</p>
        <p>@ViewData.Values</p>
        <p>@ViewData.ModelState</p>
        <p>@ViewData.TemplateInfo</p>



    </div>

    @{
        <!--Html.RenderPartial("Index");-->
    }

</body>

<!--
<div>
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
                </tr>
            }
        </tbody>
    </table>
</div>
-->
